<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213006519265-2peli53p9jmliomtabpfhnsb4cidlju2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213006519265-2peli53p9jmliomtabpfhnsb4cidlju2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>213006519265-1r439opo1hi8kve7k8mospeo34vrsgeg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBj05IuRGc-50QXM6POYqC0YqTV94T1zTs</string>
	<key>GCM_SENDER_ID</key>
	<string>213006519265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fptbookingApp</string>
	<key>PROJECT_ID</key>
	<string>fpt-booking-483e4</string>
	<key>STORAGE_BUCKET</key>
	<string>fpt-booking-483e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213006519265:ios:7be6ca8e688d5cdd8ce0a0</string>
	<key>DATABASE_URL</key>
	<string>https://fpt-booking-483e4.firebaseio.com</string>
</dict>
</plist>